modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
GOOGLE_CLIENT_ID = "94810128357-r3r99g18f3fm06lg5rbi8o08thhem430.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
ADMIN_EMAIL = "neellalwani007@gmail.com"
